@mixin card($color: $gray, $bg: $white) {
  width: 100%;
  color: $color;
  background-color: $bg;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

.card {
  @include card;

  &--alt {
    @include card($bg: $red);

    display: inline-block;
    text-align: initial;
    border-radius: 0;

    .card__container {
      @include padding-xs(right left);
      @include padding-sm(top bottom);
      @include medium {
        padding:3.1rem;
        @include padding-sm(right left);
      }
    }

    .card__heading {
      @include margin-sm(bottom);
      @include medium {
        margin-bottom: 3.1rem;
      }
    }

    .card__heading,
    .card__body {
      color: $white;

      a,
      a:hover {
        color: $white;
      }

      .text:not(:last-of-type) {
        border-bottom: 1px solid $white;
      }
    }
  }

  &--outline {
    border: 2px solid $gray-lightest;
    text-align: center;

    .card__cta {
      align-items: center;
      width: 100%;

      @include medium {
        align-items: flex-start;
      }
    }
  }

  &--border,
  &--red {
    background-color: transparent;
    border: 3px solid $red;
    box-shadow: none;

    .card__heading {
      @include heading-medium($color: $red, $font-size: 1.1rem, $font-weight: 600);
      @include margin-xs(bottom);

      @include medium {
        @include margin-sm(bottom);
      }
    }

    .card__body {
      color: $red;
      @include no-bottom;
    }
  }

  &--red {
    border: none;
  }
}

.card--rounded,
.card--image-svg {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  min-height: 15rem;
  border-radius: 0;

  @include medium {
    flex-direction: row-reverse;
  }
}

.card--rounded {
  background: linear-gradient($white 20%, $red 20%, $red 80%);

  .card__container {
    @include padding-xs(right left);
    @include medium {
      @include padding-sm(right left);
    }

  }

  .card__body {
    @include margin-sm(bottom);
    @include medium {
      @include margin-xs(bottom);
    }
  }

  .card__heading,
  .card__body {
    color: $white;

    a,
    a:hover {
      color: $white;
    }
  }

  @include medium {
    background: $gray-lightest;

    .card__heading,
    .card__body {
      color: $gray-darker;

      a {
        color: $red;

        &:hover {
          color: $red-darkest;
        }
      }
    }
  }
}

.card--image-svg {
  background: transparent;
  box-shadow: none;

  .card__container {
    @include padding-xxs(right left);
    @include padding-sm(top bottom);

    @include medium {
      margin: 0;
      padding: 0;
    }
  }

  .card__heading {
    color: $red;
  }

  .card__body {
    color: $gray;
  }

}

.card__container {
  align-self: center;

  @include padding-xxs(right left);
  @include padding-sm(top bottom);

  @include medium {
    @include padding-xs(right left);
  }

  &--image-svg {
    padding: 0;
    margin: 0;
  }

  @include medium {
    display: inline-block;
    text-align: initial;

    &--image-svg {
      padding: 0;
      margin: 0;
    }
  }
}

.card__image-container {
  display: flex;

  &--rounded {
    @include container-svg-image;

    flex-direction: row-reverse;

    svg.icon {
      top: -1rem;
    }
  }

  &--image-svg {
    @include container-svg-image;

    display: none;

    @include medium {
      display: flex;
      top: -3.5rem;
      flex-direction: row-reverse;

      svg.icon {
        left: 1.5rem;
      }
    }
  }
}

.card__image {
  object-fit: cover;

  &--rounded,
  &--image-svg {
    border-radius: 50%;
    height: 15rem;
    margin: auto;
    max-width: 15rem;
    max-height: 15rem;
    position: relative;
    width: 15rem;

    @include margin-lg(top bottom);

    @include medium {
      bottom: 50%;
      margin: auto;
      position: absolute;
      top: 50%;
    }
  }
}

.card--image {
  border: 2px solid $gray-lightest;
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    justify-content: space-around;
  }

  .card__image-container {
    order: 1;

    @include medium {
      flex: 0 0 px2rem(280);
      order: 2;
    }
  }

  .card__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    order: 2;

    @include medium {
      order: 1;
    }

    > div {
      max-width: 100%;
    }
  }

  .card__body {
    @include margin-xs(bottom);
    @include medium {
      @include margin-sm(bottom);
    }
  }

  .card__image {
    max-height: 16.25rem;
    min-width: 17.5rem;
    width: 100%;
  }

  .card__heading {
    @include margin-xs(bottom);
  }
}

.card__heading {
  @include heading-large;
  @include margin-sm(bottom);

  font-size: $font-regular;
  font-weight: 600;

  &--underline,
  &--border {
    text-decoration: underline;
  }

  a:hover {
    font-weight: 600;
  }
}

.card__heading--underline {
  font-size: 1.1rem;
  font-weight: 600;
}

.card__body {
  @include paragraph($color: $gray);
  @include margin-sm(bottom);

  .text:not(:last-of-type) {
    border-bottom: 1px solid $red;
    @include margin-md(bottom);
    @include padding-md(bottom);
  }
}

.card__cta {
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  & .button:not(:first-child) {
    @include margin-xs(top);
  }
}
