@mixin card($color: $gray, $bg: $white) {
  width: 100%;
  color: $color;
  background-color: $bg;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

.card {
  @include card;
}

.card__container {
  align-self: center;
  padding: $space $space-triple;
  
  @include medium {
    padding-right: $space-double;
    padding-left: $space-double;
  }

  &--image-svg {
    padding: 0;
    margin: 0;
  }

  @include medium {
    display: inline-block;
    text-align: initial;

    &--image-svg {
      padding: 0;
      margin: 0;
    }
  }
}

.card__image-container {
  display: flex;

  &--rounded {
    @include container-svg-image;

    flex-direction: row-reverse;

    svg.icon {
      top: -1rem;
    }
  }

  &--image-svg {
    @include container-svg-image;

    display: none;

    @include medium {
      display: flex;
      top: -3.5rem;
      flex-direction: row-reverse;

      svg.icon {
        left: 1.5rem;
      }
    }
  }
}

.card__image {
  object-fit: cover;

  &--rounded,
  &--image-svg {
    border-radius: 50%;
    height: 15rem;
    margin: auto;
    max-width: 15rem;
    max-height: 15rem;
    position: relative;
    width: 15rem;

    @include margin-lg(top bottom);

    @include medium {
      bottom: 50%;
      margin: auto;
      position: absolute;
      top: 50%;
    }
  }
}

.card--image {
  border: 2px solid $gray-lightest;
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    justify-content: space-around;
  }

  .card__image-container {
    order: 1;

    @include medium {
      flex: 0 0 px2rem(280);
      order: 2;
    }
  }

  .card__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    order: 2;

    @include medium {
      order: 1;
    }

    > div {
      max-width: 100%;
    }
  }

  .card__body {
    margin-bottom: $space-double;
    @include medium {
      margin-bottom: $space-triple;
    }
  }

  .card__image {
    max-height: 16.25rem;
    min-width: 17.5rem;
    width: 100%;
  }

  .card__heading {
    margin-bottom: $space-double;
  }
}

.card__heading {
  @include heading-large;
  
  margin-bottom: $space-triple;
  font-size: $font-regular;
  font-weight: 600;

  &--underline,
  &--border {
    text-decoration: underline;
  }

  a:hover {
    font-weight: 600;
  }
}

.card__heading--underline {
  font-size: 1.1rem;
  font-weight: 600;
}

.card__body {
  @include paragraph($color: $gray);
  
  margin-bottom: $space-triple;

  .text:not(:last-of-type) {
    border-bottom: 1px solid $red;
    margin-bottom: $space-quadruple;
    padding-bottom: $space-quadruple;
  }
}

.card__cta {
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  & .button:not(:first-child) {
    @include margin-xs(top);
  }
}
