@mixin button(
  $bg: $white,
  $color: $gray-darker,
  $hoverBg: $gray-lightest,
  $hoverColor: $gray-darker,
  $iconColor: $gray-light,
  $iconHoverColor: $gray
) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border-radius: 0.2rem;
  font-weight: 600;
  padding: $space $space-double;

  &:visited {
    color: $color;
  }

  &:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: $hoverBg;
    color: $hoverColor;

    .button__icon {
      fill: $iconHoverColor;
    }
  }

  .button__icon {
    display: flex;
    align-items: center;
    height: 0.9rem;
    width: 0.9rem;
    margin-left: px2rem(10px);
    fill: $iconColor;
  }
}
