@mixin button(
  $bg: $white,
  $color: $red,
  $hoverBg: $red,
  $hoverColor: $white,
  $iconColor: $red,
  $iconHoverColor: $white
) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: $line-height-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  border-radius: 0.2rem;
  font-size: $font-small;
  font-weight: 600;

  @include medium {
    font-size: $font-medium;
  }

  @include padding-xs(right left);
  @include padding-xxs(top bottom);

  &:visited {
    color: $color;
  }

  &:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: $hoverBg;
    color: $hoverColor;

    .button__icon {
      fill: $iconHoverColor;
    }
  }

  .button__icon {
    display: flex;
    align-items: center;
    height: 0.9rem;
    width: 0.9rem;
    margin-left: px2rem(10px);
    fill: $iconColor;
  }
}

.button {
  @include button;

  &--alt {
    @include button($red, $white, $red-lighter, $white, $white, $white);
  }

  &--alt-red {
    @include button($white, $red, $red-lighter, $white, $red, $white);
  }

  &--outline {
    @include button(transparent, $red, $red, $white);

    border: 2px solid $red;
  }

  &--outline-alt {
    @include button(transparent, $white, $red-lighter, $white);

    border: 2px solid $white;
  }

  &--download {
    @include button($gray, $white, $red-darker, $white);
  }

  &--link {
    @include button($white, $red, $white, $red-light);

    text-decoration: underline;
  }

  &--transparent {
    @include button(transparent, $black, transparent, $black, $black, $black);
  }

  &--border-bottom {
    @include button(transparent, $black, transparent, $black, $black, $black);

    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    font-size: $font-medium;
    text-align: start;

    &:not(:last-child)::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 1px;
      width: 100%;
      transform: translate(-50%, 0);
      border-bottom: 1px solid $black;
    }
  }

  &--shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
