.steps {
  border-radius: 0.25rem;
  color: $red-darker;
}

.steps__heading {
  @include heading-large($color: $red-darker, $font-weight: 600, $margin: 0);

  text-align: center;

  &--left {
    text-align: left;
  }
}

.steps__container {
  @include margin-md(top);

  display: flex;

  @include xl {
    flex-flow: row wrap;
    justify-content: center;
  }
}

.steps__card {
  @include padding-sm(top bottom);
  @include padding-xs(right left);
  @include margin-xs(top bottom);

  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.62rem rgba(0, 0, 0, 0.25);
  margin-right: auto;
  margin-left: auto;
  min-height: 20rem;
  max-width: 17rem;
  background-color: $white;

  @include medium {
    @include margin-xxs(left right);

    max-width: 100%;
    width: 100%;
  }

  @include xl {
    &:first-child:nth-last-child(n + 3) {
      max-width: 17rem;

      & ~ div {
        max-width: 17rem;
      }
    }
  }

  img {
    @include margin-xs(bottom);

    max-width: px2rem(45px);
  }
}

.step__heading {
  @include heading-medium(
    $color: $red-darker,
    $font-size: 1.12rem,
    $font-weight: 600
  );
  @include margin-xs(bottom);
}

.step__content {
  @include paragraph($color: $red-darker);
}

.steps__control-menu {
  @include margin-xxs(top);

  display: flex;
  align-items: center;
  justify-content: center;
  color: $red;
  font-size: $font-medium;
  font-weight: bold;
  line-height: $line-height-regular;

  > li {
    margin-left: 0.7rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  @include xl {
    display: none;
  }
}

.steps__link-container {
  @include margin-md(top);

  display: flex;
  justify-content: center;
}
