.banner {
  background-color: $gray;
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row-reverse;
  }
}

.banner__image {
  flex: 1;
  margin: 0 -1rem;

  img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.banner__content {
  flex: 1;

  // Heading
  .heading {
    @include heading-xl($color: $white, $margin: 0, $font-weight: 600);
  }

  // Content
  padding: $space-quadruple 0;
  padding-right: $space-sextuple;

  // Breakpoint
  @include medium {
    @include no-bottom;
  }
}

.banner__description {
  // Paragraph
  @include paragraph($white);

  padding-top: $space-double;
  padding-bottom: $space-triple;

  a,
  a:hover {
    color: $white;
  }
}

.banner__button-container {
  @include responsive-buttons;
}
