.carousel {
  width: auto;
  position: relative;
  margin: 0 -1rem;
}

.slide__container {
  display: flex;
}

.slide {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  min-height: 17rem;
  position: relative;

  @include large {
    min-height: 25rem;
  }

  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.slide__content {
  @include margin-md(top);
  @include margin-xs(right left);
  @include margin-sm(bottom);

  bottom: 0;
  position: absolute;

  @include large {
    @include margin-lg(bottom);

    margin-left: 8rem;
    width: 50%;
  }
}

.slide__heading {
  @include heading-xl($color: $white, $font-weight: 600);
  @include margin-xs(bottom);

  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.slide__text .text-long > p {
  @include heading-large($color: $white);
  @include margin-sm(bottom);

  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.slide__cta {
  @include responsive-buttons;
}

.slide__menu {
  @include padding-xs(top);
  @include padding-xxs(bottom);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red-darker;
  color: $white;
  font-size: $font-medium;
  font-weight: 600;
  flex-direction: column;

  button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
  }

  @include large {
    @include padding-xxs(top right bottom left);

    flex-direction: row;
    min-height: 3.3rem;
  }
}

.slide__nav-menu {
  @include padding-sm(bottom);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @include large {
    @include no-bottom;

    justify-content: center;

    button {
      margin: 0 20px;
    }
  }
}

.slide__control-menu {
  display: flex;
  align-items: center;

  > * {
    margin-left: 0.7rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  @include large {
    flex-direction: row;
    margin-right: 7%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.slide__counter {
  @include margin-xs(right left);
}

.slide__controls {
  display: flex;
}

// Tiny Slider spefic classes
.tns-visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tns-ovh {
  overflow: hidden;
}

.tns-nav-active {
  font-weight: bold;
  text-decoration-line: underline;

  @include large {
    font-size: $font-regular;
  }
}
