.contact-block {
  width: 100%;
}

.contact-block__main-container {
  padding: $space-double $space-triple;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $near-white;
  color: $gray;
}

.contact-block__heading {
  @include heading-medium($color: $gray, $font-weight: 600, $margin: 0);

  margin-bottom: $space-double;
  text-decoration: underline;
}

.contact-block__phone {
  @include heading-medium($color: $gray, $font-weight: 600, $margin: 0);
  &:hover {
    color: $gray;
    font-weight: 600;
  }
}

.contact-block__cta {
  margin-top: $space-double;
  margin-bottom: $space-double;
}

.contact-block__secondary-container {
  padding: $space-double;
  background-color: $gray;
  color: $white;

  a,
  a:hover {
    color: $white;
  }
}

.contact-block__content {
  padding-bottom: $space-double;

  > p {
    color: $white;
  }
}

.contact-block__social-content {
  padding-top: $space-double;
  border-top: 1px solid $white;
}

.contact-block__social-heading {
  @include heading-medium($font-size: 1rem, $color: $white, $font-weight: 600);

  margin-bottom: $space-double;
  text-decoration: underline;
}
